attrs==22.2.0
coverage==7.2.1
iniconfig==2.0.0
# Editable Git install with no remote (package-vision==0.0.post1.dev1+gd3fdc43)
-e /Users/jenniferzouak/repos/package-vision
packaging==23.0
pluggy==1.0.0
pytest==7.2.1
pytest-cov==4.0.0
